@model AlmaTest.Models.MainTableViewModel

@*<br />
    <table class="table table-bordered">
        <tr>
            @for (int i = 0; i < 32; i++)
            {
                <th>@(i + 1)</th>
            }
        </tr>

        <tr>
            @foreach (var value in ViewBag.Result)
            {
                if (value)
                {
                    <td style="background: green">@value</td>
                }
                else
                {
                    <td style="background: red">@value</td>
                }
            }
        </tr>
    </table>*@

<div class="col-md-5 col-offset-7">
        <div style="display: table" class="table table-hover">
            <a style="display: table-row" href="#">
                <div style="display: table-caption">Some</div>
                <div style="display: table-cell">text</div>
                <div style="display: table-cell">here.</div>
            </a>

            @foreach (var client in Model.Clients)
            {
                <a style="display: table-row" href="#">
                    <div style="display: table-caption">@client.Client</div>
                    <div style="display: table-cell">@client.Distributor</div>
                    <div style="display: table-cell">@client.Baza</div>
                    <div style="display: table-cell">@client.HostName</div>
                    <div style="display: table-cell">
                        @{
                            DateTime date = client.Date ?? DateTime.MinValue;
                            @date.ToShortDateString();
                        }
                    </div>
                </a>
                            }
        </div>
</div>