@model AlmaTest.Models.MainTableViewModel

<script type="text/javascript" src="~/Scripts/Custom.js"></script>

<div style="margin-top: 10px;" class="row">
    <div class="col-md-6">
        <div class="">
            <div style="margin-bottom: 10px;" class="col-md-offset-2 col-md-8">
                <form method="POST" class="form-inline">
                    <div class="form-group">
                        <input class="form-control" type="text" name="distributor" @if (Model.Distributor != null) { string value = "value=" + Model.Distributor; @value  } placeholder="Distributor..." />
                    </div>
                    <button type="submit" class="btn btn-primary">Search</button>
                </form>
            </div>
        </div>

        <table class="table table-hover">
            <tr style="background-color: #CFCFCF;">
                <th>Client</th>
                <th>Distributor</th>
                <th>Database</th>
                <th>Host</th>
                <th>Date</th>
            </tr>
        </table>

        <style>
            #table li {
                display: table-cell;
                width: 20%;
            }

            ul {
                display: table-row;
            }

            #table {
                display: table;
            }            
        </style>
        <div id="table" class="table table-bordered">
            @foreach (var client in Model.Clients)
            {

                <ul onClick="dropdwn(this, @client.ID)">
                    <li>@client.Client</li>
                    <li>@client.Distributor</li>
                    <li>@client.Baza</li>
                    <li>@client.HostName</li>
                    <li>
                        @{
                            DateTime date = client.Date ?? DateTime.MinValue;
                            @date.ToShortDateString()
                        }
                    </li>
                </ul>

                            }
        </div>
    </div>

    <style>
        .div {
            margin: 10px;
            padding: 12px;
            border: 2px solid #666;
            width: 60px;
        }
    </style>

    
    <div class="col-md-6">
        <div>
            <h1>This is not supposed to move.</h1>
        </div>

        <div>
            <h2>This is not supposed to move as well.</h2>
        </div>
        <div id="the-stick-anchor"></div>
        <div id="the-stick">
            Is it better if it's here <br />
            Or there<br />
            ?
        </div>
    </div>
</div>


